:root {
  --gray: #f5f0e1;
  --blue: #1e3d59;
  --orange: #ff6e40;
  --yellow: #ffc13b;
  --gradient: radial-gradient(
    circle,
    rgba(255, 110, 64, 1) 35%,
    rgba(255, 193, 59, 1) 100%
  );
}
* {
  text-transform: capitalize;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}
.forground {
  width: 80vw;
  height: 35vh;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.thanks {
  color: var(--blue);
}
.btn-message {
  background-color: var(--blue);
  border-radius: 15px;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  font-weight: 600;
  color: var(--gray);
  margin: 0.5rem;
  transition: all 0.6s ease-in;
}
/* icon of the thank you page */
.fa-thumbs-up, .fa-kiss-wink-heart{
  color: var(--yellow);
}
/* icon of the error page */
.fa-sad-tear{
  color: var(--orange);
  font-size: 2rem;
}
.fa-exclamation-triangle{
  color: red;
}
/* button icon */
main div .btn-message .fas {
  color: var(--yellow);
}
.btn-message:hover {
  color: var(--blue);
  background-color: var(--gray);
  border: 2px solid var(--orange);
}

@media screen and (min-width: 1000px) {
  .forground {
    width: 60vw;
    height: 50vh;
  }
}
