@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&family=Roboto+Slab:wght@300;400;600&display=swap");

/*     font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto Slab', serif; */

:root {
	--gray: #f5f0e1;
	--blue: #1e3d59;
	--orange: #ff6e40;
	--yellow: #ffc13b;
	--gradient: radial-gradient(circle, rgba(255, 110, 64, 1) 35%, rgba(255, 193, 59, 1) 100%);
}

* {
	font-family: "Open Sans", sans-serif;
	color: black;
	font-weight: 400;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.6;
}

*::selection {
	background-color: var(--blue);
	color: white;
}

html {
	/* background: var(--gradient); */
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
time {
	font-family: "Roboto Slab", serif;
	font-weight: 600;
	line-height: 0.8;
}

/* started of the grid */

main {
	background: var(--gray);
	display: grid;
	grid-template-rows: 3rem auto auto auto;
	grid-template-areas: "header" "about" "project" "contact" "footer";
}

#navbar {
	z-index: 1000;
	margin: auto;
	grid-area: header;
}

#welcome-section {
	grid-area: about;
}

#projects {
	grid-area: project;
}

#contact {
	grid-area: contact;
}

footer {
	grid-area: footer;
}

/* End of the grid */

section {
	/* background: var(--gradient); */
	min-height: 100vh;
	min-width: 100vw;
	margin-top: 3rem;
}

#navbar {
	position: fixed;
	top: 0;
	background-color: var(--blue);
	height: 3rem;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

logo {
	padding-left: 0.5rem;
	color: var(--gray);
}

logo,
#navbar span {
	font-family: "Roboto Slab", serif;
	font-weight: 600;
	font-size: 1.7rem;
	letter-spacing: 2px;
	margin-bottom: 2rem;
}

span {
	color: var(--orange);
}

nav {
	margin-right: 1rem;
	height: auto;
	width: 60vw;
	display: flex;
	justify-content: space-between;
	background-color: var(--blue);
}

.navlink,
.download {
	padding: 0.6rem;
	height: 100%;
	width: 100%;
	font-family: "Roboto Slab", serif;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	color: var(--gray);
}

#welcome-section {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

h1,
h2,
h1 > span {
	font-family: "Roboto Slab", serif;
	font-weight: 600;
}

h1,
h2 {
	font-size: 1rem;
	text-align: center;
}

h4 {
	text-align: center;
	margin: 1rem;
	color: var(--gray);
	font-size: 1.5rem;
}

h1 > span {
	color: var(--blue);
}

.welcome-box {
	/* border: 2px solid #1e3d59; */
	height: auto;
	margin: 1rem;
	width: 90vw;
}
.title h2 {
	font-size: 1.7rem;
}
.about-me h2 {
	color: var(--blue);
	font-size: 1.7rem;
}

.welcome-box p {
	font-size: 1rem;
	margin: 1rem;
}

/* Project section */

.project-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#projects h2 {
	margin-top: 1rem;
	color: var(--blue);
	font-size: 1.7rem;
}

#projects a {
	display: inline;
	border: 2px solid var(--blue);
	border-radius: 5px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-decoration: none;
	background-color: var(--blue);
	box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.fas {
	color: var(--gray);
}

#projects div a div div h3 {
	font-size: 0.9rem;
	color: var(--yellow);
	text-align: center;
}

.project-tile {
	display: block;
	width: 90vw;
	height: auto;
}

img {
	display: block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	max-width: 100%;
	height: auto;
	border-bottom: 4px solid var(--yellow);
}

.btn-projects {
	border-bottom-left-radius: 5px;
	width: auto;
	border-bottom-right-radius: 5px;
	background-color: var(--blue);
	padding: 0.5rem;
}

.btn-projects p {
	color: var(--gray);
	font-size: 1rem;
}

/* contact section */

#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact h2,
#contact h3,
.contact-container {
	margin: 1rem auto 1rem auto;
}

#contact h3 {
	color: var(--blue);
	font-size: 1.3rem;
}

/* network contact */

footer {
	border-top: 5px solid var(--orange);
	background: var(--blue);
}
footer h4,
time {
	color: var(--gray);
}

/* Midea queries from a mobile to desktop */

@media screen and (min-width: 700px) {
	section {
		min-height: auto;
	}
	nav {
		width: 40vw;
	}
	#welcome-section {
		justify-content: center;
	}
	#welcome-section h1 {
		font-size: 3rem;
	}
	#projects {
		height: auto;
	}
	.project-container {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.project-tile {
		width: 40vw;
		height: auto;
	}
	.project-container a {
		margin-left: 2px solid (--blue);
		width: 40vw;
		height: auto;
		margin-bottom: 1rem;
	}
	/* contact section */
}

@media screen and (min-width: 800px) {
	nav a {
		width: 10rem;
		text-align: center;
		transition: border 600ms, letter-spacing 600ms, color 600ms, background 600ms;
	}
	nav a:hover {
		border: 1px solid var(--orange);
		letter-spacing: 2px;
		color: var(--blue);
		background: var(--gray);
	}
	/* hover efect on the project links */
	.project-container a {
		transition: transform 600ms;
	}
	.project-container a:hover {
		transform: scale(1.09);
	}
	/* hover efect on the contact links */
	.contact-container a {
		transition: transform 600ms;
	}
	.contact-container a:hover {
		transform: scale(1.5);
	}
	.contact-container a i {
		transition: color 600ms;
	}
	.contact-container a i:hover {
		color: var(--blue);
	}
}

@media screen and (min-width: 1000px) {
	section {
		min-height: 100vh;
	}
	#welcome-section {
		height: 100vh;
		justify-content: space-around;
	}
	.title {
		font-size: larger;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 20rem;
	}
	#welcome-section .about-me {
		font-size: 1.5rem;
		width: 75vw;
	}
	/* Project section */
	#projects h2 {
		margin: 1.5rem;
		font-size: 2rem;
	}
	/* contact section */
	#contact h2 {
		font-size: 3rem;
	}
	#contact h3 {
		font-size: 2rem;
	}
	.contact-container {
		width: 60vw;
	}
}

@media screen and (min-width: 1200px) {
	section {
		min-height: 100vh;
	}
	#welcome-section {
		justify-content: center;
	}
	/* Project section */
	#projects h2 {
		font-size: 3rem;
	}
	.project-container a {
		width: 35vw;
	}
	.project-tile {
		width: 35vw;
	}
}
